{% extends 'base.html.twig' %}
{% block body %}
<h2 class="h2titrepage">Bienvenue dans l'espace administrateur</h2>
<div class="d-flex justify-content-center mt-5">
<a class="bouton" aria-current="page" href="{{ path('app_message_index') }}" title="Page admin message">Accéder aux messages reçus</a>
</div>
{% endblock %}
