.section-container {
    max-width: 1200px;
    padding: 20px 30px;
    margin: 0 auto;
}

.section-container h2 {
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.section-container .wcs{
    color: var(--color-vividtrangerine);
    text-decoration: none;
}

.section-container .freepik {
    color: var(--color-middlebluegreen);
    text-decoration: none;
}
