:root {
    --color-richblack: #0b090a;
    --color-eerieblack: #161a1d;
    --color-pansypurple: #861657;
    --color-irresistible: #aa4465;
    --color-vividtangerine: #FFA69E;
    --color-middlebluegreen: #93E1D8;
    --color-lightcyan: #DDFFF7;
    --color-lightgray: #d3d3d3;
    --color-cultured: #f5f3f4;
}