{% extends 'base.html.twig' %}

{% block body %}

	<h2 class="h2titrepage">Qui est dernière ces merveilles..?</h2>

	<section class="aboutUs">

<img src="{{ asset('build/images/sacpropos.png') }}" class="img-fluid float-start rounded" alt="propos">
		<div class="textAboutUs">
			<p>Passionnée par le fait à la main, Sylvie développe un intérêt certain pour les textiles et la mode depuis son enfance.
			</p>
			<br>
			<p>
				Sa passion pour la création est également enrichi par l’univers de la couture dans lequel elle grandit en observant sa mère et sa grand-mère réaliser d’impressionnants vêtements pour toute sa famille en un rien de temps ! Elle ne le sais pas encore à se stade de son existence mais la couture reviendra à elle comme une évidence bien plus tard.  
                C’est dans le crochet que lui enseigne une de ses tantes alors qu’elle a une dizaine d’année que grandit l’envie de faire quelque chose de ses mains. Fascinée par le geste manuel et par le contact si particulier qui se développe en travaillant la laine, elle crochète depuis plus de vingt ans perfectionnant inlassablement sa technique.
			</p>
			<br>
			<p>
				Son univers créatif est né. Alors qu'elle poursuit sa carrière dans le milieu tertiaire, elle continue de cultiver sa créativité et développe ainsi des idées d'accessoires sublimés par des jeux de couleurs et de motifs expressifs.
			</p>
			<br>
			<p>
				C'est en 2021 qu'elle débute son aventure entrepreneuriale en créant Zéonor, une marque mixte d'accessoires de « style », composée de produits généreux à l'influence Pop art et confectionnés à la main en série limitée. C'est la marque qui dépoussière le crochet en croisant les vestiaires féminins et masculins. Les produits sont Made in France, à la fois pratiques et esthétiques ils sont sublimés par des boutons chinés avec minutie et ainsi recyclés dans une proposition surprenante et rafraichissante. Ils apportent du style et de l'originalité à notre look.
			</p>
			<br>
			<p>
				Convaincue que l'élégance est à la portée de tous et qu'elle se joue dans les détails, fascinée également par les nombreuses possibilités qu'offre le décloisonnement des genres.
			</p>
			<br>
			<p>
				Zéonor c’est ainsi l’affirmation d’une conception intuitive d’une mode responsable et décalée, "une affaire personnelle, un jeu de style, de couleurs et de détails".
			</p>
		</div>
	</section>
{% endblock %}
