{% extends 'base.html.twig' %}

{% block body %}

	<h2 class="h2titrepage">Contactez-moi !</h2>

	<section class="container align-content-center">

		<h4 class="text-center">On ne peut acheter le bonheur mais on peut toujours essayer de le coudre! </h4>
		<div class="d-flex align-items-center justify-content-center">
	{{ include('message/_form.html.twig') }}
		</div>


</section>{% endblock %}
