{% extends 'base.html.twig' %}

{% block body %}
	<div class="bg-image-validation">

		<h2 class="h2validation">Merci de nous avoir contacté !</h2>
		<h5 class="text-center">Zéonor vous répondra dès que possible
		</h5>

		<p class="text-center fst-italic mt-4">Coutûrement vôtre,
			<br>Sylvie</p>

		<div class="d-flex justify-content-center">

			<a href="{{'accueil'}}" class="bouton">
				Revenir à l'accueil</a>
		</div>
	</div>

{% endblock %}
