{% extends 'base.html.twig' %}

{% block title %}Modifier une Réalisation
{% endblock %}

{% block body %}
	<h2 class="h2titrepage">Modifier une réalisation</h2>

	{{ include('realisation/_form.html.twig') }}

	<a class="bouton" href="{{ path('app_admin_index') }}" title="retour">retour à la liste</a>

	{{ include('realisation/_delete_form.html.twig') }}
{% endblock %}
