{% extends 'base.html.twig' %}

{% block title %}Nouvelle Realisation
{% endblock %}

{% block body %}
	<h2 class="h2titrepage">Créer une nouvelle réalisation</h2>

	{{ include('realisation/_form.html.twig') }}

	<a class="bouton" href="{{ path('app_realisation_index') }}" title="retour">Retour à la liste</a>
{% endblock %}
